/* 1400-1600px  */
@media screen and (max-width: 1600px) {
    .footer__actWrap {
        width: 400px;
    }
}

/* 1200-1400px  */
@media screen and (max-width: 1400px) {
    .header__menu {
        font-size: 16px;
    }
    .fixedHeader a span {
        font-size: 10.1px;
    }
    .newsBlog__text {
        max-width: 313px;
        font-size: 21px;
        padding: 32px 41px;
        margin-top: -76px;
    }
    .newsBlog__img {
        height: 360px;
    }
    .follow__img {
        height: 450px;
    }
    .footer__actWrap {
        width: 350px;
    }
    
/* 993-1200px col-LG */
@media screen and (max-width: 1200px) {
    .header__title {
        font-size: 65px;
        line-height: 0.9;
    }
    .header__text {
        font-size: 28px;
        line-height: 1.07;
    }
    .search__input {
        width: 800px;
    }
    .newProd__wrap {
        margin: 0 auto;
    }
    .newProd__wrap:nth-child(-n+2) {
        margin-bottom: 25px;
    }

    .newsBlog__text {
        max-width: 223px;
        width: 100%;
        height: 194px;
        font-size: 19px;
        padding: 30px 18px;
        margin-top: -59px;
    }
    .newsBlog__img {
        height: 260px;
    }
    .follow__img {
        height: 342px;
        
    }
    .footer__actWrap {
        width: 300px;
    }
    .footer__btn {
        font-size: 8px;
    }
    .footer__priv:not(:last-child) {
        margin-right: 13px;
    }
    

}
/* 769-992px col-MD */
@media screen and (max-width: 992px) {
    .header .ico::before {
        font-size: 16px;
    }
    .fixedHeader .ico::before {
        font-size: 16px;
    }
    .fixedHeader a span {
        font-size: 11px;
    }
    .header__title {
        font-size: 37px;
        line-height: 0.9;
    }
    .header__text {
        font-size: 18px;
        line-height: 1.07;
    }
    .search__input {
        width: 600px;
    }
    .newsBlog__text {
        max-width: 163px;
        height: 157px;
        font-size: 15px;
    }
    .newsBlog__img {
        height: 210px;
    }
    .usedBy__img {
        height: 75vw;
    }
    .swiper__usedbySlider .ico-arr-left,
    .swiper__usedbySlider .ico-arr-right {
        display: none;
    }
    .brands__logo {
        font-size: 7px;
    }
    .follow__img {
        height: 242px;
    }
    .footer__actWrap {
        width: 500px;
    }
    .footer__btn {
        font-size: 12px;
    }
    .col-6:last-child .footer__title {
        margin-top: 45px;
    }
    .footer__privWrap {
        margin-top: 47px;
    }
    .footer__priv:not(:last-child) {
        margin-right: 11px;
    }   
    .footer__priv {
        font-size: 8px;
    }
    
}
/* 577-768px col-SM */
@media screen and (max-width: 768px) {
    .fixedHeader .header__menu {
        font-size: 11.5px;
    }
    .header .ico::before {
        font-size: 15px;
    }
    
    .fixedHeader .ico::before {
        font-size: 14px;
    }
    .header .ico {
        padding-left: 18px;
    }
    .fixedHeader .ico {
        padding-left: 18px;
    }
    .fixedHeader a span {
        font-size: 7px;
    }
    .header__text {
        font-size: 14px;
        line-height: 1.07;
    }
    .protect__title {
        font-size: 44px;
    }
    .search__input {
        width: 500px;
    }
    .newsBlog__text {
        max-width: 371px;
        height: 179px;
        font-size: 26px;
        margin-top: -122px;
    }
    .newsBlog__img {
        height: 500px;
    }
    .col-12:last-child  .newsBlog__title {
        margin-top: 60px;
    }
    .col-4:nth-child(n+4) .brands__logo {
        margin-top: 25px;
    }
    .follow__img {
        height: 236px;
    }
    .footer__actWrap {
        width: 500px;
    }
    .footer__btn {
        font-size: 12px;
    }
    
}

/* 320-576px col- */
@media screen and (max-width: 575px) {
    .header__mobileView .ico::before {
        font-size: 8px;
    }
    .header__cart span {
        background-color: transparent;
        padding: 0;
    }
   
    .header__mobileView .ico {
   
    }
    .header__mobileView .ico::before{
        text-align: center;
    }
    .menu-collapse {
        display: none;
    }
    .menuMobActive .menu-collapse {
        display: block;
		order: 1;
    }
    .menuMobActive .header__nav {
        background: rgb(0 0 0 / 64%);
        border-radius: 10px;
        padding: 12px;
        flex-direction: column;
        position: fixed;
        width: 90%;
        z-index: 7;
    }
    
    .menuMobActive .header__menu {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 12px;
    }



    .header__title {
        font-size: 21.8px;
        line-height: 1.3;
        margin-top: 200px;
    }
    
    .header__text {
        font-size: 8.6px;
        line-height: 1.07;
    }
    .header {
        background-position-y: 51px;
        padding: 38px 0 96px;

    }
    .header__btn {
        font-size: 13px;
        margin: 0 auto;
        padding: 18px 13px;
        max-width: 188px;
        width: 100%;
    }
    .protect__title {
        font-size: 23px;
    }
    
    .protect__text {
        font-size: 17px;
    }
    .protect__btn {
        max-width: 171px;
        font-size: 9px;
        margin: 20px auto 0;
    }
    .search__title {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .search__input {
        padding: 25px 70px 25px 16px;
        font-size: 12px;
        width: 300px;
    }
    .newProd__wrap {
        min-height: 200px;
        height: 100%;
    }
    .newProd__imgWrap {
        height: 145px;
    }
    .newProd__name {
        font-size: 12px;
    }

    .newProd__price {
        font-size: 12px;
        margin: 6px 0;
    }
    .newProd__taxPrice {
        font-size: 8px;
        margin-bottom: 15px;
    }
    .newProd__countWrap {
        font-size: 12px;
    }
    .newProd__btn {
        padding: 8px 10px;
        font-size: 8px;
        margin-top: 17px;
    }
    .newProd .ico-arr-right:before {
        font-size: 9px;
    }

    .newProd__button {
        padding: 14px 20px;
        margin-top: 14px;
        font-size: 9px;
    }
    .newsBlog__text {
        max-width: 234px;
        height: 154px;
        font-size: 17px;
        margin-top: -161px;
    }
    .btn__info span {
        font-size: 10px;
        margin-top: 59px;
        padding: 8px;
    }
    .newsBlog .ico-arr-right:before {
        font-size: 10px;
    }
    
    .newsBlog__button {
        padding: 14px 20px;
        margin-top: 14px;
        font-size: 9px;
    }   
    
    .usedBy__button {
        padding: 14px 20px;
        margin-top: 14px;
        font-size: 9px;
    }
    .usedBy .ico-arr-right:before {
        font-size: 9px;
    }
    .usedBy__title {
        font-size: 20px;
    }
    .usedBy__heading {
        font-size: 18px;
    }
    .view-visit__btn {
        max-width: 277px;
        width: 135%;
        font-size: 6px;
        letter-spacing: 4.2px;
        margin-top: 33px;
        padding: 7px 2px;
    }
    .brands__logo {
        font-size: 6px;
    }
    .brands__title {
        font-size: 20px;    
    }
    .brands__text {
        margin-bottom: 40px;   
        font-size: 9px; 
    }
    .follow__img {
        height: 50vw;
    }
    .follow__title {
        font-size: 20px;    
        margin-top: 26px;
        margin-bottom: 11px;
    }
    .follow__text {
        font-size: 10px;
    }
    .footer__actWrap {
        width: 295px;
        margin: 0 auto;
    }
    .footer__btn {
        font-size: 8px;
    }
    .footer__priv:not(:last-child) {
        margin-right: 12px;
    }
    .footer__priv {
        font-size: 7px;
        line-height: 1.0;
    }
    .footer__svg {
        margin-bottom: 8px;
    }

       




    /* .menu-collapse {
		display: none;
	}
	.menu-collapse-active .menu-collapse {
		display: block;
		order: 1;
	}	
	.menu-collapse-active .header_wrap {
		background: rgba(0, 0,0, 0.45);
		border-radius: 10px;
		padding: 20px;
		flex-direction: column;
	}
	
	.menu-collapse-active .header_wrap  a{
		margin-right: 0;
		margin-bottom: 10px;
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		padding: 15px 0;
		border-bottom: 1px solid rgba(255, 255,255, 0.6);
		display: block;
	} */
}
/* 280-320px col- */
@media screen and (max-width: 320px) {
    .header__mobileView a span {
        font-size: 6.5px;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 29px;
    }
	.search__input {
        padding: 25px 70px 25px 16px;
        font-size: 10px;
        width: 200px;
    }
    .brands__logo {
        font-size: 4px;
    }
    .footer__btn {
        font-size: 8px;
    }
    .footer__actWrap {
        width: 255px;
    }
    .footer__input {
        font-size: 10px;
    }
}



/* 420-576px col- */
@media screen and (min-width: 420px) and (max-width: 576px){
    .menuMobActive .header__nav {
        width: 95%;
    }
    .newsBlog__text {
        max-width: 346px;
        height: 154px;
        font-size: 17px;
        margin-top: -98px;
    }
   
    .footer__actWrap {
        width: 400px;
    }
    .footer__btn {
        font-size: 10px;
    }
}